* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(225, 25%, 9%);
    --text-color: hsl(0, 3%, 80%);
    --yellow-color: hsl(57, 97%, 45%);
    --white-color: hsl(0, 100%, 100%);
    --btn-color: hsl(225, 25%, 9%);
    --btn-border: hsl(229, 15%, 21%);
    --movies-btn-background: hsl(228, 13%, 15%);
    --fs-11: 12px;
    --fw-700: 700;
    --transition: 0.15s ease;
}

body {
    font-family: Poppins;
    overflow-x: hidden;
}

.navbar {
    padding: 12px;
    transition: .2s;
    position: relative;
    z-index: 2;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: var(--yellow-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
}

.scroll-to-top i {
    color: var(--main-color);
}


.navbar .nav-link {
    color: var(--text-color);
    letter-spacing: 1.5px;
    font-weight: var(--fw-700);
    transition: var(--transition);
}

.navbar .nav-link:hover {
    color: var(--yellow-color);
}

.main-btn {
    padding: .5rem 1.5rem;
    border-radius: 50px;
    border: 2px solid var(--yellow-color);
    background: var(--btn-color);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-left: 2px;
}

.main-btn:hover {
    background: var(--yellow-color);
    color: var(--main-color);
}

.search {
    border-left: 1px solid var(--text-color);
    cursor: pointer;
}

.navbar .search svg {
    color: var(--text-color);
}


.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}


.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
}

.middle-bar {
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: var(--text-color);
}

.navbar-collapse {
    transition: .5s ease-in-out;
}

.show {
    background-color: var(--main-color);
    text-align: center;
    padding: 2rem;
}

/* END Navbar */

.hero {
    background-image: url('../imgs/hero-bg.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.hero-content {
    margin-bottom: 2rem;
}

.hero-subtitle {
    color: var(--yellow-color);
    font-size: 24px;
    font-weight: var(--fw-700);
}

.hero-title {
    color: var(--white-color);
}

.hero-title-span {
    color: var(--yellow-color);
}

.meta-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 25px;
    margin-bottom: 50px;
}

.badge-wrapper,
.ganre-wrapper,
.date-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
}

.badge {
    font-size: var(--fs-11);
    border: 2px solid transparent;
    padding: 4px 10px;
    font-weight: var(--fw-700);
}

.badge.badge-fill {
    background-color: var(--white-color);
    color: var(--main-color);
}

.badge.badge-outline {
    color: var(--white-color);
    border: 1px solid var(--white-color);

}

.meta-wrapper .ganre-wrapper a {
    color: var(--white-color);
    text-decoration: none;
}

.meta-wrapper .ganre-wrapper a:hover {
    color: var(--yellow-color);
}

.meta-wrapper .date-time {
    color: var(--yellow-color);
}


/* New Movies Section */
.new-movies {
    width: 100%;
    height: fit-content;
    background-image: url('../imgs/top-movies.png');
    background-color: cover;
}

.text-content {
    margin-top: 1.5rem;
}

.subtitle {
    color: var(--yellow-color);
    font-size: 12px;
    letter-spacing: 2px;
}

.movies-btn {
    border: 2px solid var(--btn-border);
    background-color: var(--movies-btn-background);
    padding: 4px 12px;
    color: white;
    border-radius: 20px;
    margin: 2px;
}

.movies-btn:hover {
    color: white;
}

.movies-box {
    color: var(--yellow-color);
    padding: 8px;
    transition: var(--transition);
}

.movies-box img {
    object-fit: cover;
}


.movies-box img:hover {
    box-shadow:
        0 4px 4px rgba(0, 0, 0, .1),
        0 8px 8px rgba(0, 0, 0, .1),
        0 16px 16px rgba(0, 0, 0, .1),
        0 32px 32px rgba(0, 0, 0, .15),
        0 64px 64px rgba(0, 0, 0, .15);

    transition: box-shadow .3s ease-out;

}

.movies-box img {
    border-radius: .5rem;
}

.movies-box-card-name {
    font-size: 18px;
    padding: 5px;
}

.movies-box-card-name:hover,
.movies-card-year:hover {
    color: var(--yellow-color);
    cursor: pointer;
}

.movies-box .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    color: var(--white-color);
}

.movies-box .middle-wrapper {
    display: flex;
    color: var(--yellow-color);
    margin-bottom: 10px;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}


.movies-box .middle-wrapper .movies-card-quality {
    border: 2px solid var(--white-color);
    padding: 5px 12px;
    font-size: 12px;
}


.movies-box .middle-wrapper .movies-card-minutes {
    color: var(--white-color);
    margin-right: 2px;
    font-size: 12px;
}

.movies-box .middle-wrapper i svg {
    color: var(--yellow-color);
}

/* services Section */
.services {
    background-image: url('../imgs/service-bg.jpg');
    background: cover no-repeat;
    width: 100%;
    height: fit-content;
}


.services-banner {
    position: relative;
}

.services-header {
    border-bottom: 3px solid var(--movies-btn-background);
}

.small-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.small-card .card-icon {
    border: 4px dashed var(--yellow-color);
    padding: 24px 28px;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    transition: .5s ease;
}

.small-card .card-icon:hover {
    color: var(--yellow-color);
}

.small-card .card-content {
    width: calc(100% - 115px);
}

.services-img {
    width: 509px;
    height: 545px;
    background: url('../imgs/service-banner.jpg');
    position: relative;
}


.services-img-btn:not(i) {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    right: calc(50px + 35px);
    background: var(--yellow-color);
    color: var(--btn-color);
    font-size: var(--fs-11);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    transform: rotate(0.25turn);
    transform-origin: bottom right;
    padding: 28px 35px;
    border-radius: 6px;
}

.services-img-btn:hover {
    color: var(--btn-color);
}


/* TopRated Section */
.top-rated {
    width: 100%;
    height: fit-content;
    background-image: url('../imgs/top-rated-bg.jpg');
    background: cover no-repeat;
}

.top-rated-btn {
    border: 2px solid var(--btn-border);
    color: var(--white-color);
    background-color: var(--movies-btn-background);

}

.top-rated-btn:hover {
    color: var(--white-color);
}

/* Tv Shows Section */

.tv-shows {
    width: 100%;
    height: fit-content;
    background-image: url('../imgs/tv-series-bg.jpg');
    background: cover no-repeat;
}

/* Subscribe Section */
.subscribe {
    width: 100%;
    height: fit-content;
    background-image: url('../imgs/cta-bg.jpg');
    background: cover no-repeat;
}

.subscribe-title {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 0;
}


.sub-inp {
    padding: 18px 32px;
    background: white;
    font-size: 14px;
    color: var(--main-color);
    border: none;
    width: 100%;
}

.sub-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    background: var(--main-color);
    padding: 10px 30px;
    color: var(--yellow-color);
    transform: translateY(-50%);
    font-weight: 500;
}

.sub-btn:hover {
    background-color: var(--yellow-color);
    color: var(--main-color);
    font-weight: 500;
}

.footer {
    background: url('../imgs/footer-bg.jpg');
    background: cover no-repeat;
    height: fit-content;
    width: 100%;
}

.footer .footer-top .ul-top li:hover {
    color: var(--yellow-color);
}

.footer .footer-top .ul-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer-top .ul-top li {
    list-style: none;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 10px;
    flex-wrap: wrap;
    letter-spacing: 1.5px;
    font-weight: var(--fw-700);
    transition: var(--transition);

}

.movies-box {
    cursor: pointer;
}

.footer .footer-top .divider {
    height: 4px;
    margin-block: 40px;
    border-top: 1px solid hsl(225, 25%, 9%);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.footer .footer-top .ul-bottom-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer-top .ul-bottom-start li {
    list-style: none;
    font-weight: 400;
    transition: var(--transition);
    color: var(--text-color);
    margin-top: 10px;
}

.footer .footer-top .ul-bottom-end {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer .footer-top .ul-bottom-end li:hover,
.footer .footer-top .ul-bottom-start li:hover {
    color: var(--yellow-color);
    cursor: pointer;
}

.footer .footer-top .ul-bottom-end li {
    list-style: none;
    font-weight: 400;
    transition: var(--transition);
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    margin-top: 10px;
}

.footer-bottom {
    height: fit-content;
    color: var(--white-color);
    background: var(--main-color);
}

.footer-bottom span {
    color: var(--yellow-color);
}